{
  "presets": [
    ["env", {
       "modules": false
    }],
    [
      "babel-preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ], 
    "stage-2"
  ],
  
  "plugins": ["transform-runtime"],
  "comments": false
}

