scrollbar()
  &.scroll-style::-webkit-scrollbar
    width 6px
    background-color #e5e5e5
  &.scroll-style::-webkit-scrollbar-thumb
    background-color #b7b7b7
    border-radius 4px
  &.scroll-style::-webkit-scrollbar-thumb:hover
    background-color #a1a1a1
  &.scroll-style::-webkit-scrollbar-thumb:active
    background-color #a1a1a1
  &.scroll-style::-webkit-scrollbar-track
    -webkit-box-shadow 0 0 0px gray inset
  &.scroll-style-border-radius::-webkit-scrollbar
    border-bottom-right-radius 4px