name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependence
        run: |
          yarn i
      - name: run eslint
        run: |
          yarn lint
      - name: run test
        run: |
          yarn test
